.contacto {
  max-width: 900px;        /* Reducido de 1100px */
  margin: 0 auto;
  padding: 3rem 1.5rem;    /* Menos padding vertical */
}

.titulo-contacto {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contacto-subtitulo {
  text-align: center;
  color: #666;
  margin-bottom: 2.5rem;
}

.contacto-contenedor {
  display: grid;
  grid-template-columns: 1.6fr 1.4fr;  /* Formulario ocupa menos espacio */
  gap: 1.5rem;
}

.contacto-form {
  max-width: 425px;        /* Formulario m치s estrecho */
  background: #ffffff;
  border-radius: 14px;
  padding: 1.3rem 1.5rem;  /* Menos padding => m치s compacto */
  box-shadow: 0 12px 30px rgba(15, 23, 42, 0.08);
}

.contacto-grid-dos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.campo label {
  font-size: 13px;
  color: #4b5563;
}

.campo input,
.campo textarea {
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  padding: 0.55rem 0.8rem;  /* Padding m치s peque침o */
  font-size: 13px;
  outline: none;
  resize: none;
}

.campo input:focus,
.campo textarea:focus {
  border-color: #3bb5f6;;
  box-shadow: 0 0 0 1px #2563eb22;
}

.btn-enviar {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.9rem 1.2rem;
  border-radius: 700px;
  border: none;
  background: #3bb5f6;;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-enviar:hover {
  background-color:  #2f97cf;
}

.contacto-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacto-info{
  background: #ffffff;
  border-radius: 14px;
  padding: 0.8rem;
  box-shadow: 0 12px 30px rgba(15, 23, 42, 0.08);
  height: 325px;
}

.info-titulo {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.bloque-info a {
  color: #3bb5f6;
  font-size: 13px;
}

.bloque-info p {
  font-size: 13px;
}

.ul-lista{
  list-style: none;
  margin-left: -39px;
}

.ul-lista li{
  gap: 30px;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  transition: background-color 0.3s, transform 0.2s;
}

.contact-link:hover{
  color:  #2f97cf;
}

.icono-contacto {
  font-size: 1.3rem;
}

