.footer{
    background-color: oklch(0.21 0.034 264.665);
    color: #e5e7eb;
    padding: 30px 0 20px;
    font-family: Arial, sans-serif;
}

.contenedor-footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.contenedores {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
}

.contenedor-info h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ffffff;
}

.contenedor-info p {
  font-size: 13px;
  line-height: 1.6;
  color: #b9c0d0;
  margin-bottom: 20px;
}

.contenedor-iconos {
  display: flex;
  gap: 12px;
}

.contenedor-iconos a {
  width: 38px;
  height: 38px;
  background-color: #111827;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.contenedor-iconos a:hover {
  background-color: #3bb5f6;
  transform: translateY(-3px);
}

.contenedor-links,
.contenedor-servicios {
  text-align: center;
}

.contenedor-links h4,
.contenedor-servicios h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #ffffff;
}

.contenedor-links ul,
.contenedor-servicios ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contenedor-links a {
  display: block;
  text-decoration: none;
  color: #b9c0d0;
  font-size: 13px;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.contenedor-links a:hover {
  color:#ffffff;
}

.contenedor-servicios li {
  font-size: 13px;
  color: #b9c0d0;
  margin-bottom: 10px;
}

.contenedor-creditos {
  grid-column: 1 / -1; /* Que el elemento ocupe TODAS las columnas del grid */
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.contenedor-copyright p {
  font-size: 11px;
  color: #9ca3af;
}

.contenedor-creditos a {
  font-size: 11px;
  color: #9ca3af;
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.contenedor-creditos a:hover {
  color: #ffffff;
}

.contenedor-creditos span {
  font-size: 11px;
  color: #9ca3af;
}

@media (max-width: 600px) {

  .contenedores {
    grid-template-columns: 1fr; /* Una columna */
    gap: 20px;
    text-align: center;
  }

  .contenedor-creditos {
    flex-direction: column;
    gap: 10px;
  }

  .contenedor-iconos{
    justify-content: center;
  }

}
