*,
*::before,
*::after {
  box-sizing: border-box; 
}

/* Sirve para que todos los elementos calculen su tamaño incluyendo el padding y el borde, evitando que se hagan más grandes de lo que deberían y rompan el diseño, sobre todo en móvil. 📱✅ */



html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #fbfbfb;
}

#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}