.section-inicio{
    display: flex;
    flex-direction: column;
    background: #f8fbfd;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.nombre{
    color: #3bb5f6;
}

.titulo-nombre{
    font-size: 50px;
}

.titulo-cargo{
    margin-top: -21px;
    font-size: 25px;
    color: #3c3c3c;
}

.titulo-frase{
    margin-top: -10px;
    color:  #3c3c3c;
}

.cuadrado {
    background-color: #ffffff;
    border: 2px solid  #3bb5f6;
    border-radius: 12px;
    padding: 20px;
    max-width: 500px; /* ancho máximo */
    margin: 20px auto; /* con este margin decimos 20 arriba y 20 abajo y los laterales auto */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* primer elemento es para mover la sombre izquiera o derecha, el segundo arriba o abajo y el ultimo que tal difuminado es */
    line-height: 1.6; /* espaciado entre lineas */
    font-size: 13px;
    color:  #3c3c3c;
}

.contenedor-botones {
    display: flex;
    gap: 20px; /* espacio entre los botones */
    justify-content: center; /* opcional: centra los botones en la página */
    margin-top: 20px;
}

.boton1 {
    background-color:#3bb5f6;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.boton1:hover {
    background-color: #2f97cf;
    transform: scale(1.05);
}

.boton2 {
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500; /* la hace mas negrita */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.boton2:hover {
    background-color: #000000;
    color: #fff;
    transform: scale(1.05);
}

.contenedor-tecno{
    font-size: 11px;
    color:  #3c3c3c;
    margin-top: 35px;
}

.contenedor-aptitudes{
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

.contenedor-aptitudes span {
    background-color: #f3f3f3; 
    padding: 6px 12px;          
    border-radius: 12px;       
    color: #000;                
}

