/* Contenedor principal de la navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 25px;
    color: #000;
    background-color: white;
    border-bottom: 1px solid #cccccc; 
    z-index: 1000;
}

.logo {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 100px;
    
}

.logo:hover{
    color: #3bb5f6;
    transition: color 0.3s, transform 0.3s;
}

.lista-navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-navbar li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: color 0.3s, transform 0.3s;
}

.lista-navbar li a:hover {
    color:  #3bb5f6;
    transform: scale(1.05);
}
