.navbar {
    position: sticky; /* Tanto sticky como top 0 hace que mi navbar aparezca incluso cuando baje*/
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Espacio entre el borde y el contenido */
    height: 25px; /* Define que tan alto es el elemento en total*/
    background-color: white;
    border-bottom: 1px solid #cccccc; 
    z-index: 1000;
}

.logo {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 100px;
    
}

.logo:hover{
    color: #3bb5f6;
    transition: color 0.3s, transform 0.3s;
}

.lista-navbar {
    position: absolute; /* Tanto absolute como left 50% sirve para que mi lista de item este en el centro*/
    left: 50%;
    transform: translateX(-50%); /* Desplaza el elemento un 50% hacia la izquierda de su propio tamaño */
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-navbar li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: color 0.3s, transform 0.3s;
}

.lista-navbar li a:hover {
    color:  #3bb5f6;
    transform: scale(1.05);
}

@media (max-width: 600px) {
  /* NAVBAR MÓVIL */
  .navbar {
    flex-direction: column; /* logo arriba, links abajo */
    align-items: center;    /* centra logo y lista */
    padding: 10px 1rem;
    height: auto;
  }

  .logo {
    margin-left: 0;
    font-size: 16px;
    margin-bottom: 10px; /* separa del menú */
  }

  .lista-navbar {
    position: static;   /* ya no absoluto */
    transform: none;    /* eliminar translate */
    display: flex;      /* horizontal */
    flex-direction: row; 
    gap: 15px;          /* espacio entre links */
    justify-content: center; /* centrado dentro del contenedor */
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;    /* si no caben, saltan a la siguiente fila */
  }

  .lista-navbar li a {
    font-size: 14px;
    display: block;
  }
}
