.seccion-proyecto {
  padding: 80px 20px;
  background: #ffffff;
  text-align: center;
}

.seccion-proyecto h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #0f172a;
}

.parrafo-proyecto{
  color: #555;
  margin-bottom: 50px;
}

.contenedor-tarjetas {
  max-width: 700px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 35px;
}

.tarjeta {
  background: #f9fafb;
  border-radius: 18px;
  overflow: hidden; /* controla que el contenido que no queda en la tarjeta no se vea */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}


.tarjeta:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

.tarjeta-header {
  height: 150px;
  background: linear-gradient(135deg, #55a9e1, #7bbce8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tag {
  position: absolute;
  top: 15px;
  left: 15px;
  background: white;
  color: #0f4c75;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.tarjeta-header h3 {
  font-size: 16px;
  font-weight: 600;
}

.tarjeta-body {
  padding: 10px 20px;;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tarjeta-body h4 {
  font-size: 16px;
  margin-bottom: -8px;
  color: #020617;
  margin-top: 10px;
}

.tarjeta-body p {
  font-size: 13px;
  line-height: 1.4;
  color: #475569;
  margin-bottom: 12px;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: -14px;
  margin-bottom: 25px;
}

.tecnologias span {
  background-color: #f3f3f3; 
  color: #000000;
  margin-top: 10px;

  padding: 3px 8px;
  border-radius: 8px;

  font-size: 10px;
}

.more-projects {
  max-width: 700px;
  margin: 40px auto;
  padding: 40px 48px;
  background: #f8fbfd;
  border-radius: 16px;
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.08);
  text-align: center;
}

.more-projects--title {
  margin: 0 0 12px;
  font-size: 22px;
  font-weight: 600;
  color: #0f172a;
}

.more-projects--text {
  max-width: 620px;
  margin: 0 auto 24px;
  font-size: 13px;
  line-height: 1.6;
  color: #6b7280;
}

.more-projects--botones {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap; /* los elementos que no quepan pasen a la siguiente fila. */
}

.btn {
  display: inline-flex; /* hace que un contenedor se comporte como inline (no rompe línea) y sus hijos se organicen con Flexbox. */
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn--primero {
  color: #ffffff;
  background-color:#3bb5f6;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn--primero:hover {
  background: #0080d6;
  transform: translateY(-1px);
}

.btn--segundo {
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.btn--segundo:hover {
  background: #000000;
  color: white;
}

@media (max-width: 600px) {

  /* PROYECTOS */
  .seccion-proyecto {
    padding: 40px 20px;
  }

  .seccion-proyecto h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .parrafo-proyecto {
    font-size: 12px;
    margin-bottom: 30px;
  }

  .contenedor-tarjetas {
    grid-template-columns: 1fr; /* Una columna */
    gap: 20px;
  }

  .tarjeta-header h3 {
    font-size: 14px;
  }

  .tarjeta-body h4 {
    font-size: 14px;
  }

  .tarjeta-body p {
    font-size: 12px;
  }

  .tecnologias span {
    font-size: 9px;
    padding: 2px 6px;
  }
}
