.seccion-servicios {
  padding: 80px 20px;
  background: #f8fbfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulos-servicios h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.titulos-servicios p {
  max-width: 650px;
  color: #555;
  margin-bottom: 50px;
}

/* GRID */
.rectangulos {
  display: grid; /* se usa cuando flex se queda corta */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  gap: 30px;
  width: 100%;
  max-width: 1100px;
}

/* 
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 


El navegador calcula cuántas columnas de al menos 280px caben.

Si caben 3 columnas de 280px, las crea.

Cada columna se expande para llenar el espacio restante proporcionalmente (1fr).

Si la pantalla se hace más pequeña, automáticamente bajará a 2 columnas, luego a 1 columna, adaptándose a cualquier tamaño.
*/

.contenido-rectangulos {
  background: white;
  border-radius: 14px;
  padding: 30px;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.25s ease;
}

.contenido-rectangulos:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
}

.icono-servicio {
  font-size: 28px;
}

.parrafos-rectangualos p:first-child {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 8px;
}

.parrafos-rectangualos p:last-child {
  color: #666;
  font-size: 13px;
  margin-bottom: 20px;
}

.lista-rectngulos p {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: bold;
}

.lista-rectngulos ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.lista-rectngulos li {
  margin-bottom: 6px;
  padding-left: 20px;
  position: relative;
  font-size: 11px;
  color: #444;
}

.lista-rectngulos li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #2bb3f3;
  font-size: 11px;
}

.solicitar-info {
  color: #2bb3f3;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block; /* permite que un elemento esté en línea con otros pero aún así tenga ancho y alto definidos. */
}

.solicitar-info:hover {
  text-decoration: underline;
}