.seccion-sobremi {
    padding: 80px 20px;
    background: #ffffff;
    margin-top: 150px;
}

.seccion-sobremi h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

.contenedor-sobre-mi {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.foto-sobre-mi {
    width: 300px;
    height: 300px;
    object-fit: cover; /* hace que la imagen llene en contenedor sin deformarse */
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    background: #e5f2ff;
    padding: 8px;
}

.contenedor-parrafos {
    flex: 1; /* Se adapta al tamaño y se reduce si hace no hay espacio */
    max-width: 650px;
    margin-top: 10px;
}

.contenedor-parrafos p:first-child {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}

.contenedor-parrafos p {
    font-size: 13px;
    line-height: 1.3;
    color: #444;

    margin-bottom: 18px;
}

.lista-especialidades {
    display: flex;
    gap: 60px;
    margin-top: 30px;
}

.lista-especialidades div {
    flex: 1;
}

.lista-especialidades h4 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 12px;
}

.lista-especialidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-especialidades li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #333;
}

/* Puntitos azules */
.lista-especialidades li::before {
    content: "•";
    color: #3bb5f6;
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contenedor-boton {
    margin-top: 40px;
    margin-left: -70px;
    display: flex;
    justify-content: center;
}

.boton-cv {
    padding: 10px 22px;
    font-size: 0.95rem;
    background: rgb(39, 39, 42);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-cv:hover {
    background: #000712;
    color: white;
}

.icono-descargar{
    gap: 10px;
}
